// footer
footer.footer.pb-5
    .container
        .row
            .col-md-3
                .copy  ©2021 tickertape.cc 
            .col-md-9
                h5 Contact:
                ul.list-unstyled.p-0
                    li(class='#')
                        a(href='mailto:hello@tickertape.cc' target='_blank' data-bypass='') hello@tickertape.cc
                        br

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


