extends layout

block content

    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            h1 CSV Upload Tool
            p This tool requires the CSV be formatted correctly. Please refer to the sample CSV file for the format and column order.
            p The is an open source tool. Please see the source code to understand how it works, and use it as a starting point to develop your own MiddleManager app.
            //- p To see the difference between static and fixed top navbars, just scroll.
            p
            a.btn.btn-lg.btn-primary(href='/uploadcsv' role='button') Upload CSV &raquo;

    .container
        .jumbotron 
            p This service uses an Image to Base64 converter. This can be tested by clickign the following link. The page will grab an image from wikipedia and Base64 convert it and then display the result.
            p 
                a(href='/base64test') base64 test
            p
                a(href='/test-id-lookup') Test database connection


block footer
