//- doctype html
//- html(lang='en')
//-     head
//-         style. 
//-             table, th, td{
//-                 border-bottom: 1px solid #eee;
//-                 border-right: 1px solid #eee;
//-             }
//-     body
//-         h1 Upload CSV file below
//-         form(action="/uploadcsv" method="post" enctype="multipart/form-data")
//-             p Select file
//-             input(type="file" name="csvfile")
//-             input(type="submit")

extends ../layout

block content
    .container
        .jumbotron 
            h1 Upload CSV file below        
            p 
            p Select the CSV file with the browse button. Then click the Submit Query button to send the CSV file to the server for processing. 
            p Please wait while processing - as this can take some time depending on how big the CSV file is! 
            p When finished this page will redirect to the results.


            form(action="/uploadcsv" method="post" enctype="multipart/form-data")
                p Select file
                input(type="file" name="csvfile")
                input.btn.btn-lg.btn-primary(type="submit" value="Submit Query") 


block footer
